/* line 1, ../../app/stylesheets/formtastic.sass */
body { font-family: verdana; font-size: 11px; }

/* line 6, ../../app/stylesheets/formtastic.sass */
div.fieldWithErrors { display: inline; }

/* line 10, ../../app/stylesheets/formtastic.sass */
form fieldset { display: inline-block; }
/* line 13, ../../app/stylesheets/formtastic.sass */
form fieldset.inputs { background: #eee; }
/* line 16, ../../app/stylesheets/formtastic.sass */
form fieldset.buttons { background: #aaa; padding: 10px; }
/* line 20, ../../app/stylesheets/formtastic.sass */
form fieldset ol li { border-bottom: 1px solid #ccc; padding: 10px; }
/* line 24, ../../app/stylesheets/formtastic.sass */
form fieldset ol li:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
/* line 32, ../../app/stylesheets/formtastic.sass */
form fieldset ol li.error { background: pink; }
/* line 35, ../../app/stylesheets/formtastic.sass */
form fieldset ol li label { display: block; width: 150px; float: left; }
/* line 41, ../../app/stylesheets/formtastic.sass */
form fieldset ol li p.inline-hints { color: #666; margin: 0.5em 0 0 150px; }
/* line 45, ../../app/stylesheets/formtastic.sass */
form fieldset ol li p.inline-errors { color: red; margin: 0.5em 0 0 150px; }
/* line 49, ../../app/stylesheets/formtastic.sass */
form fieldset ol li.string input, form fieldset ol li.float input, form fieldset ol li.integer input, form fieldset ol li.decimal input, form fieldset ol li.text textarea { width: 300px; }
/* line 52, ../../app/stylesheets/formtastic.sass */
form fieldset ol li.boolean label { padding-left: 150px; width: auto; }
/* line 56, ../../app/stylesheets/formtastic.sass */
form fieldset ol li.boolean label input { margin-right: 0.5em; }
/* line 60, ../../app/stylesheets/formtastic.sass */
form fieldset ol li.radio fieldset legend { display: block; float: left; width: 150px; position: relative; }
/* line 67, ../../app/stylesheets/formtastic.sass */
form fieldset ol li.radio fieldset ol { float: left; width: 300px; }
/* line 71, ../../app/stylesheets/formtastic.sass */
form fieldset ol li.radio fieldset ol li { padding: 0; border: 0; margin-bottom: .2em; }
/* line 76, ../../app/stylesheets/formtastic.sass */
form fieldset ol li.radio fieldset ol li label { float: none; width: 100%; }
/* line 80, ../../app/stylesheets/formtastic.sass */
form fieldset ol li.radio fieldset ol li label input { margin-right: 0.5em; display: inline; margin: 0; padding: 0; }
/* line 87, ../../app/stylesheets/formtastic.sass */
form fieldset ol li.date fieldset legend { display: block; float: left; width: 150px; position: relative; }
/* line 94, ../../app/stylesheets/formtastic.sass */
form fieldset ol li.date fieldset ol { float: left; width: 300px; margin: 0; padding: 0; }
/* line 100, ../../app/stylesheets/formtastic.sass */
form fieldset ol li.date fieldset ol li { float: left; width: auto; margin: 0; padding: 0; border: 0; }
/* line 107, ../../app/stylesheets/formtastic.sass */
form fieldset ol li.date fieldset ol li label { display: none; }
/* line 110, ../../app/stylesheets/formtastic.sass */
form fieldset:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* line 118, ../../app/stylesheets/formtastic.sass */
html[xmlns] form fieldset { display: block; }
/* line 121, ../../app/stylesheets/formtastic.sass */
html[xmlns] form fieldset ol li { display: block; }

/* line 125, ../../app/stylesheets/formtastic.sass */
* html form fieldset { height: 1%; }
/* line 128, ../../app/stylesheets/formtastic.sass */
* html form fieldset ol li { height: 1%; }

/* clearfixing the li's :display inline-block */